<!--
Copyright © 2021-2023 Technology Matters

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/.
-->

{% extends "admin/index.html" %}
{% load static %}
{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
  {% if allow_restore %}
    <button id="restore-button" type="button">Load data</button>
    <p>Replace with data from another Terraso instance.</p>
    <p id="restore-status"></p>
  {% endif %}
</div>
  {% if allow_restore %}
  <script src="{% static 'instance_restore.js' %}"></script>
  {% endif %}
{% endblock %}
