{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% translate "email.group.approved_request_headline" %}</h2>

<p>{% blocktranslate with firstName=firstName storyMapTitle=storyMapTitle %}{{firstName}}, your request for membership in the story map {{storyMapTitle}} has been approved.{% endblocktranslate %}</p>

<p style="margin: 3em;"><a style="padding: 0.5em 1em; border: 1px solid black; border-radius: 0.5em; text-decoration: none; color: black;" href="{{acceptInviteUrl}}">{% translate "email.group.view_group" %}</a></p>

{% endblock %}
