default_install_hook_types:
-   pre-commit
-   commit-msg

repos:
-   repo: local
    hooks:
    -   id: check_api_schema
        name: Check API Schema
        language: system
        entry: make check_api_schema
        pass_filenames: false

-   repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
    rev: v0.9.0
    hooks:
    -   id: pre-commit-update

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    -   id: ruff-check
        args: [--fix]
    -   id: ruff-format

-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
    -   id: conventional-pre-commit
        stages: [commit-msg]
        args: []
