RENDER_TOKEN=
URL_REWRITES_CONFIG_FILE=/etc/terraso/url-rewrites.conf
SOURCE_S3_BUCKETS=files.terraso.org,images.terraso.org
TARGET_S3_BUCKETS=files.testing.terraso.net,images.testing.terraso.net
SOURCE_SERVICE=
TARGET_SERVICE=