{% load i18n %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
</head>
<body>
  <header>
  <p style="text-align: center;"><img src="{{imageUrl}}" alt="Terraso" width="130" height="36" /></p>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
    <p>Technology Matters, 3790 El Camino Real #625, Palo Alto, CA 94306</p>
    <p><a href="{{unsubscribeUrl}}">{% trans "Unsubscribe from notifications" %}</a>.</p>
  </footer>
</body>
</html>
