{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% translate "You have a pending request waiting." %}</h2>
<p>{{firstName}},</p>

{% blocktranslate with firstName=firstName groupName=groupName %}
<p>{{memberName}} has made a request for membership in your group “{{groupName}}.”</p>
{% endblocktranslate %}

<p style="margin: 3em;"><a style="padding: 0.5em 1em; border: 1px solid black; border-radius: 0.5em; text-decoration: none; color: black;" href="{{requestUrl}}">{% translate "View Request" %}</a></p>

{% endblock %}
