{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:index' %}story_map/storymap/">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; Import story map
  </div>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
      <ul class="errorlist">
        {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
    <fieldset>
      {% for field in form.visible_fields %}
        <div class="form-row">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
        </div>
      {% endfor %}
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="Import" class="default">
    </div>
  </form>
{% endblock %}
