<!--
Copyright © 2021-2023 Technology Matters

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/.
-->
{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="block-center">
        {% if not error %}
            <form id="authorizationForm" method="post">
                <h3 class="block-center-heading">{% blocktranslate with application=application.name %}authorize.share_name_email{% endblocktranslate %}</h3>
                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

              <p>{% translate "authorize.uses_information_from" %} {{ application.name }}</p>
                <ul>
                  {% for scope in scopes %}
                      {% if scope != "openid" %}
                      <li>{% translate "authorize.your" %} {{ scope }}</li>
                      {% endif %}
                    {% endfor %}
                </ul>

                {{ form.errors }}
                {{ form.non_field_errors }}

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-large" value="{% translate "authorize.cancel" %}"/>
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="{% translate "authorize.share" %}"/>
                    </div>
                </div>
            </form>

        {% else %}
            <h2>{% translate "authorize.error" %}: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}
