name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install Python dependencies for CI
        run: |
          pip install -r requirements-dev.txt

      - name: Run lint checks
        run: |
          make lint

  build-and-test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v2

      - name: Build base Docker image
        run: |
          make build

      - name: Run tests using built Docker image
        run: |
          make test-ci
