name: build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - staging
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.1"

      - name: Install Python dependencies for CI
        run: |
          pip install -r requirements-dev.txt

      - name: Build base Docker image
        run: |
          cp .env.sample .env
          echo "SENTRY_DSN=${{ secrets.SENTRY_DSN }}" >> .env
          make build DC_ENV=ci

      - name: Run lint checks
        run: |
          make lint

  build-and-test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build base Docker image
        run: |
          cp .env.sample .env
          echo "SENTRY_DSN=${{ secrets.SENTRY_DSN }}" >> .env
          make build DC_ENV=ci

      - name: Run tests using built Docker image
        run: |
          make test-ci DC_ENV=ci
